<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/e03c5dd4-21d2-4f30-a4e7-f9ca246a3723/resourceGroups/psychology_app/providers/Microsoft.ApiManagement/service/HackSocialMentalHealthAppApiapi/apis/HackSocialMentalHealthAppApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/e03c5dd4-21d2-4f30-a4e7-f9ca246a3723/resourcegroups/psychology_app/providers/Microsoft.Web/sites/HackSocialMentalHealthAppApi20250813171607</ResourceId>
    <ResourceGroup>psychology_app</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://hacksocialmentalhealthappapi20250813171607-grg4dcd3aacccvas.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>86f8d790-562c-44ba-875c-7ebee94b2605</ProjectGuid>
    <PublishUrl>https://hacksocialmentalhealthappapi20250813171607-grg4dcd3aacccvas.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>